.card-img{
    position: relative;
    display: block;
    border: 1px solid rgba(53, 59, 72, 0.05);
    width: 100%;
    height: max-content;
    max-height: 105px;
    border-radius: 8px;
    padding: 0px;
    padding-top: 0px !important;
    overflow: hidden;
    background-color: rgb(255 255 255);
}
.thumble-img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 105px;
    transition: opacity 250ms ease 0s;
    object-fit: scale-down;
    opacity: 1;
}
img {
    display: block;
    width: 100%;
}

.cardBTN {
    font-size: 11px;
    width: 100%;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4px;
    color: #fff;
}
.cardBTN.line{
    color:var(--primary) !important;
    border: 1px solid var(--primary) !important;
    background: #ffff;
}
.card{
    box-shadow: 0px 0px 30px rgb(53 59 72 / 5%);
    border: none;
    background: #ffffff;
    border-radius: 15px;
    max-height: 339px;
    min-height: 295px;
    max-width: 220px;
    min-width: 220px;
    width: -webkit-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: max-content;
}
.card-grid{
    padding: 14px
}
#combo-box-demo{
    font-size: 11px !important;
    font-weight: 600 !important;
    opacity: 0.7;
}
#demo-simple-select-label{
 font-weight: 500;
font-size: 13px;   
}
.MuiMenuItem-root{
    font-size: 14px !important;
}
.MuiAutocomplete-option{
    font-size: 14px !important;
}
.title-prix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
}
.card .cat{
    font-size: 12px;
    font-weight: 600;
}
.title{
    font-size: 13px;
    font-weight: 700;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.off{
    position: absolute;
    top: 15px;
    font-weight: 700;
    padding: 4px 4px;
    border-radius: 7px;
    color: #fff;
    background: var(--primary);
    font-size: 12px;
    z-index: 9999;
}
.prix{
    font-size: 13px;
    align-items: center;
    color: var(--primary);
    font-weight: 700;
    margin-left: 10px;
}
.desc{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 106px;
    height: 100%;
    min-height: 30px;
    font-size: 10px;
    color: rgb(53 59 72 / 70%);
    font-weight: 600;
    margin: 2px 0px;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.cardBTN.clode,.cardBTN.open{
    text-transform: uppercase;
}